#gcd{
  width: 960px;
  height: 500px;
  margin-left: -150px;
}

#gcd rect{
  fill-opacity: 1;
  stroke: black;
}

#gcd svg{
  overflow: visible;
}

#gcd .tbl{
  display: inline-block;
  width: 360px;
  vertical-align: top;
}

#gcd .cell{
  display: inline-block;
  width: 60px;
}

#gcd .number{
  font-size: 500%;
  font-family: monospace;
  text-shadow: 0 1px 0 #ccc, 1px 0 0 #ccc, 0 -1px 0 #ccc, -1px 0 0 #ccc;

}
