[data-module="gcd"]{
  width: 960px;
  height: 450px;
  margin-left: -0px;
  font-family: "HaasTextBold",Arial,Helvetica;
  padding-top: 30px;
  padding-left: 35px;
}

[data-module="gcd"] text{
  font-family: "HaasTextBold",Arial,Helvetica;

}

[data-module="gcd"] rect{
  fill-opacity: 1;
  stroke: black;
}

[data-module="gcd"] svg{
  overflow: visible;
}

[data-module="gcd"] .tbl{
  display: inline-block;
  width: 360px;
  vertical-align: top;
}

[data-module="gcd"] .cell{
  display: inline-block;
  width: 60px;
}

[data-module="gcd"] .number{
  font-size: 500%;
  /*font-family: monospace;*/
  text-shadow: 0 1px 0 #ccc, 1px 0 0 #ccc, 0 -1px 0 #ccc, -1px 0 0 #ccc;

}

[data-module="gcd"] .chatter{
  color: darkgrey;
  font-family: 'TiemposTextWeb-Regular', Georgia, serif;
}

[data-module="gcd"] .explanation{
  max-width: 520px;
  margin: 0px auto;
  float: left;
  margin-right: 20px;
}

[data-module="gcd"] .svg{
  float: left;
}


[data-module="gcd"] .explanation div{
  padding-bottom: 20px;
}

[data-module="gcd"] .btn{
  padding-top: 21px;
  color: white;
  font-size: 43px;
  cursor: pointer;
}