[data-module="tree"] {
  position: relative;
}

[data-module="tree"] .svg-container {
  position: relative;
}

[data-module="tree"] .node {
  cursor: pointer;
}

[data-module="tree"] .node rect {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

[data-module="tree"] .node.expandable rect {
  stroke: lightsteelblue;
}

[data-module="tree"] .node:hover rect {
  stroke: #0f0 !important;
}

[data-module="tree"] .node text {
  font-size: 10px;
  font-weight: bold;
  font-family: 'Roboto Mono', courier, monospace;
}

[data-module="tree"] .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

[data-module="tree"] .svg-container svg {
  position: relative;
  z-index: 2;
}

[data-module="tree"] .svg-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  transform: translate(-50%,-50%) scale(.1);
  pointer-events: none;
  z-index: 1;
}
