[data-module="debug"]{
  position: relative;
  height: 570px;
  margin-left: -200px;
  font-family: monospace;
  /*font-family: "HaasTextBold",Arial,Helvetica;*/
}

[data-module="debug"] .bugg{
  width: 300px;
  position: absolute;
}

[data-module="debug"] .bug-img{
  width: 100px;
  display:block;
  margin:auto;
  height: 108px;
}

[data-module="debug"] .q-container div{
  border: 1px solid black;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
}
[data-module="debug"] .correct .q-container div{
  border: 1px solid lightgrey;
  color: lightgrey;
}

[data-module="debug"] .lazer{
}

[data-module="debug"] svg{
  pointer-events: none;
}
