[data-module="tinder"]{
	position: relative;
}

[data-module="tinder"] .screen {
	border: 3px solid black;
	padding: 10px;
	max-width:400px;
	margin:0 auto;
	text-align: center;
	height:570px;
	overflow: hidden;
}

[data-module="tinder"] pre {
	text-align: left;
	margin:0;
	padding:0;
	font-size: 12px;
	line-height: 14px;
	overflow: hidden;
	width:375px;
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

[data-module="tinder"] pre code {
	height:365px;
	overflow: hidden;
}

[data-module="tinder"] .coder-logo {
	text-align: center;
	margin-bottom: 20px;
}

[data-module="tinder"] .button {
	width: 120px;
	height:120px;
	border-radius: 120px;
	background: #FFF;
	border: 5px solid #f0f0f0;
	display: inline-block;
	box-shadow: 1px 1px 1px 0px #e9e9e9;
	cursor: pointer;
}

[data-module="tinder"] .button:hover {
	border-color: #f0f;
}

[data-module="tinder"] .button.selected {
	border-color: #0f0;
}

[data-module="tinder"] .button.nohover:hover {
	border-color: #f0f0f0;
	cursor:default;
}

[data-module="tinder"] .dislike-holder,.like-holder {
	top:350px;
	position: absolute;
}
[data-module="tinder"] .dislike-holder {
	left:10px;
}
[data-module="tinder"] .like-holder {
	right:10px;
}

[data-module="tinder"] .button.dislike {
	margin-left: 4px;
	background: url(img/dislike.png);
	background-size: 70px;
	background-position: center;
	background-repeat: no-repeat;
}


[data-module="tinder"] .button.like {
	margin-left: -4px;
	background: url(img/like.png);
	background-size: 70px;
	background-position: center;
	background-repeat: no-repeat;
}

[data-module="tinder"] .bot .step:not(:last-child) {
  display: none;
}

[data-module="tinder"] .footer {
	text-align: left;
}

[data-module="tinder"] .footer h3 {
	font-size: 22px;
	color:black;
	margin-top:10px;
	margin-bottom: 0px;
	font-family: arial,helvetica;
	font-weight: bold;
}

[data-module="tinder"] .footer p {
	font-family: arial,helvetica;
	font-size: 22px;
	color:black;
	margin-top: 5px;
}

[data-module="tinder"] .arrow_box {
	position: absolute;
	width: 300px;
  top: 110px;
  left: 220px;
	background: #ffffff;
	border: 4px solid #6381ff;
	border-radius: 10px;
	font-family: 'BWHaasText-55Roman', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color:#2800d7;
  padding: 5px;
  opacity: 0;
}
[data-module="tinder"] .arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

[data-module="tinder"] .arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 15px;
	margin-left: -15px;
}
[data-module="tinder"] .arrow_box:before {
	border-color: rgba(40, 0, 215, 0);
	border-top-color: #6381ff;
	border-width: 21px;
	margin-left: -21px;
}

[data-module="tinder"] .talkbubble {
	width:100%;
}

[data-module="tinder"] .ok {
	color:black;
	font-weight: bold;
}

[data-module="tinder"] .ok:hover {
	color:#2800d7;
	cursor: pointer;
}

[data-module="tinder"] .pbot-holder {
	position: absolute;
  top: 330px;
  left: 280px;
  opacity: 0;
}

[data-module="tinder"] .feedback {
	color:black;
	font-weight: bold;
}