[data-module="toc"] {
	position: fixed;
	width: 400px;
	height: 100%;
	top: 0;
	left: -380px;
	z-index: 3;
	/*transition: left .5s;*/
	/*background: #2800d7;*/
}

[data-module="toc"].open {
	left: 0;
}

article#code {
	/*transition: transform .5s;*/
}
article#code.toc-open {
	transform: translate(300px,0);
}

.histogram {
	position: absolute;
	height: 100%;
	width: 20px;
	top: 0;
	left: 0;
	background: white;
}

.histogram .bar {
	position: absolute;
	background: #00c770;
	width: 100%;
	left: 0;
	z-index: 1;
}

.histogram .window {
	border: 1px solid black;
	position: absolute;
	left: 0;
	height: 50px;
	width: 100%;
	z-index: 2;
}

.histogram .window[data-window="hover"] {
	border: 1px solid #00f;
}

.histogram .window[data-window="previous"] {
	border: 1px dotted black;
}

.toc {
	margin-left: 20px;
	height: 100%;
	overflow-y: scroll;
}

.toc .toc-section {
	background: white;
	padding: 20px;
	margin: 20px;
}

.toc .toc-head {
	cursor: pointer;
}

.toc .toc-head:hover {
	color: #2800d7;
}

.toc .toc-head[data-level="H2"] {
	font-family: "BWHaasText-75Bold", Helvetica, Arial, sans-serif;
	font-size: 14pt;
}

.toc .toc-head[data-level="H3"] {
	font-family: "BWHaasText-55Roman", Helvetica, Arial, sans-serif;
	font-size: 10pt;
}