[data-module="toc"] {
	position: fixed;
	width: 30%;
	height: 100%;
	top: 0;
	left: 0;
	background: #eee;
	z-index: 3;
}

.histogram {
	position: absolute;
	height: 100%;
	width: 20px;
}

.histogram .bar {
	position: absolute;
	background: #0f0;
	width: 100%;
	left: 0;
	z-index: 1;
}

.histogram .window {
	border: 1px solid black;
	position: absolute;
	left: 0;
	height: 50px;
	width: 100%;
	z-index: 2;
}

.histogram .window[data-window="hover"] {
	border: 1px solid #00f;
}

.histogram .window[data-window="previous"] {
	border: 1px dotted black;
}