[data-module="text-diff"] .falling{
  position: relative;
  display: inline-block;
}
[data-module="text-diff"] div, [data-module="text-diff"] #width-calc div{
  float: left;
}

[data-module="text-diff"] #width-calc{
  top: -10000000px !important;
  position: absolute;
}
