<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<title>javascript sandbox console</title>
	
	<!-- Stylesheet -->
	<link href="sandbox.css" rel="stylesheet"/>

</head>

<body>

	<!-- HTML -->

	<div id="sandbox">sandbox console loading...</div>


	<!-- Templates -->
	
	<!-- The sandbox template: -->
	<script type="text/template" id="tplSandbox">
		<pre class="output"></pre>
		<div class="input">
			<textarea rows="1" placeholder="<%= placeholder %>"></textarea>
		</div>
	</script>

	<!-- The command/result template (NB whitespace/line breaks matter inside <pre> tag): -->
	<script type="text/template" id="tplCommand"><% if (! _hidden) { %><span class="command"><%= command %></span>
<span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span>
<% } %></script>


	<!-- Scripts -->

	<!-- Underscore, Backbone, backbone-localStorage, jQuery -->
	<script src="js/libs/underscore.min.js"></script>
	<script src="js/libs/backbone.min.js"></script>
	<script src="js/libs/backbone-localstorage.min.js"></script>
	<script src="js/libs/jquery.min.js"></script>

	<!-- The JS Sandbox Console script (requires underscore, backbone and jquery): -->
	<script src="js/sandbox-console.js"></script>
	
	<!-- When ready, create the model and view -->
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			// Create the sandbox:
			window.sandbox = new Sandbox.View({
				el : $('#sandbox'),
				model : new Sandbox.Model({
					iframe : true,  // evaluate commands inside a hidden iframe (default: false)
					fallback : true // use global eval if iframe isn't available (default: true)
				})
			});
		});
	</script>

</body>
</html>