[data-module="keyboard"] {
  height: 516px;
}

[data-module="keyboard"] .keyboard {

}
[data-module="keyboard"] .keyRow {
  white-space: nowrap;
}
[data-module="keyboard"] .key {
  padding: 3px;
  position: relative;
  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
[data-module="keyboard"] .key:hover .key-inner{
  border: 2px solid #2800d7;
  color: #2800d7;
}
[data-module="keyboard"] .key-inner {
  border: 2px solid #3c3c3c;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 5px;
  overflow: none;
  font-size: 10px;
  font-family: sans-serif;
  color: #3c3c3c;
}
[data-module="keyboard"] .key-event {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 3em;
  font-family: 'Roboto Mono', courier, monospace;
  text-align: center;
  line-height: 1em;
  padding: 0;
  transform: rotate(0deg) translate(-50%, -50%);
  -webkit-transform: rotate(0deg) translate(-50%, -50%);
  -moz-transform: rotate(0deg) translate(-50%, -50%);
  -ms-transform: rotate(0deg) translate(-50%, -50%);
}


@media only screen and (max-width: 1270px)  {
  [data-module="maps"]{
    display: none;
  }
}

@media only screen and (max-width: 840px)  {
  [data-module="tinder"]{
    display: none;
  }
}


@media only screen and (max-width: 1020px)  {
  #certificate, #certificate-container{
    display: none;
  }

  [data-module="circuit"]{
    display: none;
  }

  [data-module="crapplets"]{
    display: none;
  }

  [data-module="debug"]{
    display: none;
  }

  [data-module="gcd"]{
    display: none;
  }

  [data-module="grabbag"]{
    display: none;
  }

  [data-module="keyboard"]{
    display: none;
  }

  [data-module="languages"]{
    display: none;
  }

  [data-module="learninal"]{
    display: none;
  }

  [data-module="livehtml"]{
    display: none;
  }

  [data-module="mouse"]{
    display: none;
  }

  [data-module="paperclip"]{
    display: none;
  }

  [data-module="paulbot"]{
    display: none;
  }

  [data-module="recirc"]{
    display: none;
  }

  [data-module="shoppingcart"]{
    display: none;
  }

  [data-module="text-diff"]{
    display: none;
  }

  [data-module="toc"]{
    display: none;
  }

  [data-module="tree"]{
    display: none;
  }

}

.b-ie #circuit, .b-ie #crapplets, .b-ie #debug, .b-ie #gcd, .b-ie #grabbag, .b-ie #keyboard, .b-ie #languages, .b-ie #learninal, .b-ie #livehtml,  .b-ie #mouse,  .b-ie #paperclip,  .b-ie #paulbot,  .b-ie #recirc,  .b-ie #text-diff,  .b-ie #tree,  .b-ie #tinder, .b-ie #code-atlas, .b-ie #certificate-container, .b-ie #paulbot, .b-ie .innershare{
  display: none !important;
}