#circuit {
  height: 500px;
  margin-left: -150px;
  width: 960px;
  font-family: "HaasTextBold",Arial,Helvetica
}

#circuit g.gate-icon{
  fill-opacity: .5;
  stroke: black;
  fill: #f94600;
  cursor: pointer;
  /* TODO: redo paths so you don't need to scale... */
  transform: scale(.45);
  stroke-width: 2;
}
#circuit text{
  pointer-events: none;
}

#circuit svg{
  overflow: visible;
}


#circuit .wire{
  fill: none;
  shape-rendering: crispEdges;
}

#circuit .wire.bot{
  opacity: .5;
}
