#recirc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: white;
  z-index: 3;
}
#recirc[data-mode="on"] {
  display: block;
}

.recirc {
  width: 300px;
  height: 200px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
}
.recirc .title {
  position: absolute;
  top: 0;
  left: 0;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
  z-index: 3;
}
.recirc:hover .title {
  background: black;
  color: white;
}
.recirc .source {
  font-family: Consolas, courier, monospace;
  font-size: .5em;
  line-height: 1em;
  color: #ddd;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1;
}
.recirc .body {
  position: absolute;
  width: 133%;
  height: 133%;
  top: 0;
  left: 0;
  opacity: 0;
  border: none;
  pointer-events: none;

  -ms-zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
}
.recirc:hover .body {
  opacity: .5;
  z-index: 2;
}
