#ast {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50%;
  margin: 0;
  background:#333;
  color: #ccc;
  padding:20px 20px 15px;
  height:219px;
  font-family:"Consolas", "Andale Mono", "Courier New", "Courier", monospace;
  overflow: scroll;
  box-sizing: border-box;
}

div.node {
  font-size:8pt;
  margin-left:1em;
}

td {
  font-size:8pt;
}
