
#background-canvas{
  position: fixed;
  height: 100%;
  width: 100%;
  background: white;
  z-index: -1;
}

.outline-2{
  background: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 100px;
}

#headerArt{
  background: rgba(0,0,0,0);
  height: 100vh;
}

#sec-2{
  padding-top: 100px;
  padding-bottom: 100px;
}
