#paulbot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 30%;
  z-index: 3;
}
#paulbot .message {
  display: none;
}
#paulbot .message:last-child {
  display: block;
}

.bot {
  font-family: Consolas, courier, monospace;
  background: #333;
  transition: opacity .5s;
}

.bot[data-mode="off"] {
  opacity: 0;
  pointer-events: none;
}

.bot.aside {
  position: absolute;
  left: 100%;
  margin-left: 10px;
  width: 200px;
  z-index: 2;
}

/* FACE */

.bot .face {
  background-image: url('../images/emotes/restface.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 60%;
  /*float: left;*/
  width: 20%;
  height: 100%;
  min-height: 100px;
  display: inline-block;
  vertical-align: top;
}

.bot .face:hover {
  background-image: url('../images/emotes/wiggle.gif') !important;
}

/* BODY */

.bot .body {
  /*float: right;*/
  display: inline-block;
  width: 80%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  vertical-align: top;
}

.bot .body .messages {
}

.bot .body .messages .message {
  color: #0f0;
  padding: 3px;
  margin-bottom: 5px;
}

.bot .body .messages .speech {
}

.bot .body .messages .eval {
}
.bot .body .messages .eval pre {
  margin: 0;
}
.bot .body .messages .eval pre code {
  padding-left: 3em;
  position: relative;
}
.bot .body .messages .eval pre code.input::before {
  content: "IN";
  position: absolute;
  left: 2px;
  font-size: small;
  color: #666;
}
.bot .body .messages .eval pre code.output::before {
  content: "OUT";
  position: absolute;
  left: 2px;
  font-size: small;
  color: #666;
}

.bot .body .messages .responses {
}

.bot .body .messages .responses .response {
  color: #f0f;
}
.bot .body .messages .responses .response:hover {
  background: #00f;
  cursor: pointer;
}
.bot .body .messages .responses .response.clicked {
  background: #666;
  cursor: default;
}

/* SLIDER */
/* http://bl.ocks.org/mbostock/6452972 */

.bot .axis {
  font: 10px sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.bot .axis text {
  fill: #0f0;
}

.bot .axis .domain {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: 10px;
  stroke-linecap: round;
}

.bot .axis .halo {
  fill: none;
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.bot .slider .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
  cursor: crosshair;
}

.bot .slidey .label {
}
