.event-log {
  position: fixed;
  width: 300px;
  font-family: helvetica, arial, sans-serif;
  font-size: 10pt;
  pointer-events: none;
  transform: translate(-50%,-50%);
  text-align: center;
}
.event-log.mousemove {
  z-index: 2;
  color: #ccc;
  font-size: 1em;
}
.event-log.click {
  z-index: 3;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}
.event-log.scroll {
  text-align: right;
  transform: translate(0,-50%);
}
.event-log.keyboard {
  font-size: 2em;
}

/* SHOPPING CART */

#cart {
  position: fixed;
  background-image: url(../images/cart.jpg);
  background-size: contain;
  height: 60px;
  width: 60px;
  top: 130px;
  left: -25%;
}

/* KEYBOARD */

.keyboard {
  pointer-events: none;
  position: fixed;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translate(0,-50%);
}
.keyRow {

}
.key {
  padding: 10px;
  position: relative;
}
.key-inner {
  border: 1px solid rgba(0,0,0,.3);
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
  overflow: none;
  font-size: 5px;
  font-family: sans-serif;
}
.key-event {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 3em;
  font-family: consolas, courier, monospace;
  text-align: center;
  padding: 20px;
  transform: rotate(0deg) translate(-50%, -50%);
}

/* TREE */

.dom-tree {
  display: block;
  margin: auto;
  margin-top: 60px;
  font-size: 11px;
  position: relative;
  font-family: monospace;
  overflow: hidden;
}

.dom-tree .node {
  position: absolute;
  overflow: hidden;
  background: #eee;
  border: 1px solid #fff;
  line-height:0.9em;
}

.dom-tree .node:hover {
  cursor: pointer;
  background: #ddd;
}
