* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: Georgia;
  font-size: 16px;
  line-height: 1.667em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  z-index: 9;
}

article {
  max-width: 40em;
  margin: 0 auto;
  position: relative;
}

article img {
  max-width: 100%;
}

#glossary-bug, #toc-bug {
  position: fixed;
  top: 10px;
  width: 60px;
  height: 60px;
  opacity: .1;
  z-index: 3;
}
#glossary-bug:hover, #toc-bug:hover {
  opacity: 1;
  cursor: pointer;
}
#glossary-bug { right: 10px; }
#toc-bug { left: 10px; }

.sidepane {
  position: fixed;
  top: 0;
  width: 500px;
  height: 100%;
  overflow-y: scroll;
  background: #eee;
  transition: left 1s, right 1s;
  z-index: 2;
}

#toc { left: -500px; }
#toc.open { left: 0; }
#glossary { right: -500px; }
#glossary.open { right: 0; }

h1 {
  font-size: 3em;
  text-align: center;
}

aside {
  font-size:0.875em;
  line-height: 1.3em;
  left: 100%;
  position: absolute;
  width: 180px;
  margin-left: 1em;
}
aside .footdef sup {
  vertical-align: baseline;
  font-size: inherit;
}
aside .footdef sup a {
  text-decoration: none;
}
aside .footdef p {
  display: inline;
}

.paulbot-prompt {
  background: yellow;
  margin: -4px;
  padding: 4px;
} .paulbot-prompt:hover {
  background: #f0f;
  cursor: pointer;
}
