* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: Georgia;
  font-size: 16px;
  line-height: 1.667em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  z-index: 9;
}

article {
  max-width: 40em;
  margin: 0 auto;
  position: relative;
}

article img {
  max-width: 100%;
}

.bug {
  position: fixed;
  width: 60px;
  height: 60px;
  opacity: .1;
  z-index: 2;
  background-size: contain;
}
.bug:hover {
  opacity: 1;
  cursor: pointer;
}
.bug[data-mode="on"] {
  opacity: 1;
  z-index: 5;
}
#glossary-bug {
  background-image: url('../images/glossary.svg');
  top: 10px;
  right: 10px;
}
#toc-bug {
  background-image: url('../images/toc.svg');
  top: 10px;
  left: 10px;
}
#recirc-bug {
  background-image: url('../images/recirc.svg');
  bottom: 10px;
  right: 10px;
}

.sidepane {
  position: fixed;
  top: 0;
  width: 500px;
  height: 100%;
  overflow-y: scroll;
  background: #eee;
  z-index: 3;
}

#toc { left: -500px; }
#toc[data-mode="on"] { left: 0; }
#glossary { right: -500px; }
#glossary[data-mode="on"] { right: 0; }

#recirc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: white;
  z-index: 3;
}
#recirc[data-mode="on"] {
  display: block;
}

h1 {
  font-size: 3em;
  text-align: center;
}

aside {
  font-size:0.875em;
  line-height: 1.3em;
  left: 100%;
  position: absolute;
  width: 180px;
  margin-left: 1em;

  /* ehhhh sloppy temp */
  /*max-height: 2.5em;*/
  background: white;
  /*overflow: hidden;
  transition: max-height .5s, height .5s;*/
}
aside:hover {
  z-index: 2;
  max-height: inherit;
}
aside .footdef sup {
  vertical-align: baseline;
  font-size: inherit;
}
aside .footdef sup a {
  text-decoration: none;
}
aside .footdef p {
  display: inline;
}

.paulbot-prompt {
  background: yellow;
  margin: -4px;
  padding: 4px;
} .paulbot-prompt:hover {
  background: #f0f;
  cursor: pointer;
}

#live-html-iframe {
  width: 100%;
}

.recirc {
  width: 300px;
  height: 200px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
}
.recirc .title {
  position: absolute;
  top: 0;
  left: 0;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
  z-index: 3;
}
.recirc:hover .title {
  background: black;
  color: white;
}
.recirc .source {
  font-family: Consolas, courier, monospace;
  font-size: .5em;
  line-height: 1em;
  color: #ddd;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1;
}
.recirc .body {
  position: absolute;
  width: 133%;
  height: 133%;
  top: 0;
  left: 0;
  opacity: 0;
  border: none;
  pointer-events: none;

  -ms-zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
}
.recirc:hover .body {
  opacity: .5;
  z-index: 2;
}

/* GLOSSARY */

.glossary-item {
  border-bottom: 1px dotted gray;
}
.glossary-tooltip {
  position: absolute;
  display: none;
  max-width: 200px;
  font-family: helvetica;
  font-size: small;
  line-height: 1em;
  padding: .5em;
  background: white;
  border: 1px solid black;
  transform: translate(0%,-110%);
  pointer-events: none;
}
.glossary-tooltip.on {
  display: block;
}
