[data-module="livehtml"] {
  height: 350px;
}

[data-module="livehtml"] iframe {
  width: 100%;
  height: 275px;
  display: inline-block;
}


.side-by-side{
  width: 900px;
  position: relative;
}

.side-by-side .left-side{
  width: 520px;
  display: inline-block;
}
.side-by-side .right-side{
  width: 300px;
  display: inline-block;
  position: relative;
  /*top: -128px;*/
}